<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-5 col-md-8 col-lg-4">
      <h2>顯示支出明細</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-10 col-md-8 col-lg-6">
      {{!-- form --}}
      <form action="/records" method="POST">
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">名稱</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="請輸入名稱" name="name" minlength="2"
              maxlength="25" value="{{ record.name }}" disabled>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="datepicker" class="col-sm-2 col-form-label">日期</label>
          <div class="col-sm-10">
            <input type="text" id="datepicker" name="date" class="form-control" placeholder="請選擇日期"
              pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" title="請輸入西元年/月/日 ex: 2021/05/20" value="{{ record.date }}" disabled>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="category" class="col-sm-2 col-form-label">類別</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label=".form-select" name="category" id="category" disabled>
              <option selected>{{ record.category }}</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="name" class="col-sm-2 col-form-label">金額</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="amount" name="amount" min="1" max="100000000" required
              placeholder="請輸入金額 1~100000000" disabled value="{{ record.amount }}">
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-end">
        <a href="/" class="btn btn-secondary me-2">返回</a>
        <a href="/records/{{ record._id }}/edit" class="btn btn-primary me-2">更改</a>
        <form action="/records/{{ record._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>