<div class="container mt-5">
  {{!-- sort --}}
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <form action="/filter" method="get">
        <select class="form-control" name="categorySelector" id="categorySelector" onchange="submit()">
          <option selected disabled value="">查看類別開銷</option>
          {{#each categoryList}}
          <option value="{{this.name}}" {{#ifEqual this.name ../categorySelector}}selected{{/ifEqual}}>{{this.name}}
          </option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>

  {{!-- main --}}
  {{!-- total amount --}}
  <main class="mt-5">
    <div class="row justify-content-center">
      <div class="total-amount d-flex justify-content-between">
        <h3>總金額:</h3>
        <span class="fs-1">
          <h3>{{ totalAmount }} 元</h3>
        </span>
      </div>
    </div>

    {{!-- record table --}}
    <div class="row justify-content-center mt-2">
      <div class="col-12 col-md-10 col-lg-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">項目</th>
              <th scope="col">金額</th>
              <th scope="col">修改</th>
              <th scope="col">刪除</th>
            </tr>
          </thead>
          <tbody>
            {{#each records}}
            <tr>
              <th scope="row">
                <div class="row">
                  <div class="col-12">
                    <a href="/records/{{ this._id }}" class="text-decoration-none text-body">
                      <div class="detail  d-flex justify-content-start flex-wrap   ">
                        <h3 class="text-wrap  w-100 " style="font-size: 20px">
                          {{#each ../categoryList}}
                          {{#ifEqual this.name ../this.category}} {{{this.icon}}} {{/ifEqual}}
                          {{/each}}
                          <h3 class="recordName text-wrap  w-100 " style="font-size: 20px">{{this.name}}</h3>
                        </h3>
                        <h3 class="text-wrap" style="font-size: 20px">{{ this.date }}</h3>
                      </div>
                    </a>
                  </div>
              </th>

              <td class="align-middle ">
                <h3 class="text-wrap w-100  " style="font-size: 20px ">{{ this.amount }}</h3>
              </td>
              <td class="align-middle "><a href="/records/{{ this._id }}/edit" class="btn btn-success">編輯</a></td>
              <td class="align-middle ">
                <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-danger">刪除</button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="mx-auto mt-3" style="width: 200px;">
      <a href="/records/new" class="btn btn-primary">新增支出</a>
    </div>
  </main>
</div>